<h1>Posts Index </h1>
<% @posts.each do |post| %>
<li><%=link_to post.title, post_path(post) %></li>
<ul style="margin-left: 40px"> By: <%=link_to post.blogger.name, blogger_path(post.blogger)%></ul>
<ul style="margin-left: 40px">Destination: <%=link_to post.destination.name_and_country, destination_path(post.destination)%></ul>
<%end%>